/* - Mobile: 375px
- Desktop: 1440px */

/* ## Colors */

/* ### Primary */

/* - Linear gradient (active input border): hsl(249, 99%, 64%) to hsl(278, 94%, 30%)
- Red (input errors): hsl(0, 100%, 66%) */

/* ### Neutral */

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

:root {
    --White: hsl(0, 0%, 100%);
    --Light-grayish-violet: hsl(270, 3%, 87%);
    --Dark-grayish-violet: hsl(279, 6%, 55%);
    --Very-dark-violet: hsl(278, 68%, 11%);

    --font: 'Space Grotesk', sans-serif;
    /* - Weights: 500 */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 97vw;
    height: 97vh;
    font-family: var(--font);
    font-size: 18px;
}

.main {
    width: 100%;
    height: 100%;
}

.bg-main {
    position: absolute;
    background-image: url(../images/bg-main-desktop.png);
    width: 297px;
    height: 100%;
}

.img-front {
    position: absolute;
    background-image: url(../images/bg-card-front.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 349px;
    height: 223px;
    top: 129px;
    left: 88px;
    border-radius: 10px;
}

.card-logo {
    margin: 21px;
}

.dados {
    color: var(--White);
}

.dados p {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    font-size: 25px;
    position: absolute;
    bottom: 60px;
    letter-spacing: 1px;
}

.nd {
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: space-between;
    bottom: -5px;
    padding: 26px;
    font-size: 15px;
}